html {
	padding: 0;
	margin: 0;
}

body {
	background: url('img/main-bg.jpeg') center no-repeat;
	background-size: cover;
	font-family: "arial";
	font-weight: bold;
}

header {
	width: 100%;
	position: relative;
}

header .ham svg {
	height: 70px;
	width: 70px;
	fill: rgba(0,0,0,0);
	position: absolute;
}

header .ham {
	position: absolute;
	padding: 20px;
}

header .ham .lines {
	margin-left: 15px;
	margin-top: 25px;
}

header .ham .line {
	width: 40px;
	height: 3px;
	background: white;
	margin-bottom: 5px;
}

header ul {
	display: flex;
	justify-content: space-around;
	padding-left: 0;
}

header ul li {
	list-style: none;
	color: white;
	padding: 20px;
	font-size: 2rem;
}

header .social-media {
	width: 150px;
	float: right;
	display: flex;
	justify-content: space-between;
	padding: 26px 10px 26px 0px;
}

header .social-media svg {
	fill: rgba(0,0,0,0);
	width: 4rem;
}

main {
	position: absolute;
	width: 100%;
	text-align: center;
	color: white;
	top: 50%;
	margin-top: -60px;
	margin-left: -8px;
}

main h1 {
	margin: 0;
	font-size: 6rem;
	margin-bottom: -15px;
}

main h2 {
	margin: 0;
}

footer {
	position: fixed;
	bottom: 0;
	width: 100%;
}

footer .down {
	padding: 20px;
	display: flex;
	justify-content: center;
}

footer .down span {
	position: absolute;
	font-size: 2rem;
	color: gray;
	margin-top: 13px;
	cursor: pointer;
}

footer .down svg {
	fill: white;
	height: 70px;
	width: 70px;
	cursor: pointer;
}

footer .down svg circle {
	color: black;
}

@media(max-width: 550px) {
	header ul {
		display: none;
	}
}
@media(min-width: 550px) {
	header .ham {
		display: none;
	}
	header .social-media {
		display: none;
	}
}